<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.covid.web.mapper.CovidMapper">

    <select id="getRestaurant" resultType="com.covid.web.dto.RestaurantDto">
        SELECT * FROM restaurant WHERE x IS NOT NULL AND y IS NOT NULL;
    </select>

    <insert id="insertRestaurant" parameterType="com.covid.web.dto.RestaurantDto">
        INSERT INTO restaurant(restaurant, representative, zipcode, sido, sggu, category, category_detail, tel, etc, selected, reg_date, cancel_date,  update_date, seq, add1, add2, x, y)  <!-- create_date, modift_date의 default 값은 now() -->
        VALUES(#{restaurant}, #{representative}, #{zipcode}, #{sido}, #{sggu}, #{category}, #{category_detail}, #{tel}, #{etc}, #{selected}, #{reg_date}, #{cancel_date},  #{update_date}, #{seq}, #{add1}, #{add2}, #{x}, #{y})
    </insert>

    <delete id = "deleteAllRestaurant">
        DELETE FROM restaurant;
    </delete>

    <update id = "alterRestaurantAutoIncrement">
        ALTER TABLE restaurant AUTO_INCREMENT = 1;
    </update>



    <select id = "getHospital" resultType="com.covid.web.dto.HospitalDto">
        SELECT * FROM hospital WHERE x IS NOT NULL AND y IS NOT NULL;
    </select>

    <insert id="insertHospital" parameterType="com.covid.web.dto.HospitalDto">
        INSERT INTO hospital(hospital, sido, sggu, selection_type, tel, operable_date, type_code, x, y)
        VALUES(#{hospital}, #{sido}, #{sggu}, #{selectionType}, #{tel}, #{operableDate}, #{typeCode}, #{x}, #{y});
    </insert>

    <delete id = "deleteAllHospital">
        DELETE FROM hospital;
    </delete>

    <update id = "alterHospitalAutoIncrement">
            ALTER TABLE hospital AUTO_INCREMENT = 1;
    </update>
</mapper>