<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.covid.web.mapper.infectionInfo.GenAndAgeInfoMapper">
    <select id="selectDistinctCategoryCount" resultType="int">
        SELECT count(distinct gubun)
        FROM gen_and_age;
    </select>

    <select id = "selectDistinctCategories" resultType="java.lang.String">
        SELECT distinct(gubun)
        FROM gen_and_age
        ORDER BY gubun
        LIMIT ${start}, ${limit};
    </select>

    <select id = "selectMostRecentInfoByDay" resultType="com.covid.web.model.entity.GenAndAgeInfo">
        SELECT *
        FROM (
                 SELECT *
                 FROM gen_and_age
                 WHERE (gubun, create_dt) in (
                     SELECT gubun, max(create_dt) as create_dt
                     FROM gen_and_age
                     WHERE date(create_dt) = date(#{createDt}) AND gubun = #{genOrAge}
                     GROUP BY gubun
                 )
             ) AS temp
        GROUP BY gubun;
    </select>

    <insert id = "insertInfo" parameterType="com.covid.web.model.entity.GenAndAgeInfo">
        INSERT INTO gen_and_age (insert_date, gubun, conf_case, conf_case_rate, death, death_rate, critical_rate, create_dt, update_dt)
        VALUES(NOW(), #{gubun}, #{confCase}, #{confCaseRate}, #{death}, #{deathRate}, #{criticalRate}, #{createDt}, #{updateDt})
    </insert>

    <delete id="deleteAllInfoByDay">
        DELETE
        FROM gen_and_age
        WHERE date(create_dt) = date(#{createDt});
    </delete>
</mapper>